/*header*/
.custom-container{
	width: 1440px;
	max-width: 100%;
}

.main-logo{
	margin-top: 63px;
}

.header-container{
	width: 1316px;
	max-width: 100%;
}

.chrome-web-store-badge{
	float: right;
	margin-top: 50px;
}

header.banner {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  font-family: 'latoregular';
}

header.banner .transparent-layer{
	background-color: rgba(44, 47, 54, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header.banner h1{
	color: #fff;
	margin-bottom: 57px;
	
}
/*banner content*/
header .header-content{
	width: 635px;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 100px;
}
header .header-content .h-div-left p{
	color: #9f9f9f;
	font-size: 18px;
	text-align: left;
	line-height: 26px;
}

/*header nav*/
header .header-nav{
	padding-top: 110px;
	width: 1088px;
	max-width: 100%;
}

/* Navbar links */
header .header-nav .navbar li{
	display: inline;
	list-style-type: none;
}
header .header-nav .navbar a {
  text-align: left;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 45px;
  display: block;
  float: left;
  padding-right: 120px;
}

header .header-nav .navbar a:hover p{
	color: #ea7141;
}

header .header-nav .navbar li:last-child a{
	padding-right: 0;
}

header .header-nav .navbar a>p{
	margin-top: 5px;
}

header .header-nav .navbar a .Typeface{
	color: #ea7141;
}

/*popup*/
.modal-dialog{
	margin: 0;
}

.modal {
    bottom: auto;
    left: auto;
}


/*news section*/
.news-section{
	background-color: #f6f6f6;
	padding: 76px 0;
}

.inner-section-news{
	width: 1128px;
	max-width: 100%;
}

.news-article{
	text-align: center;
	width: 620px;
	max-width: 100%;
}

.news-article h2, .installation-section h2{
	margin: 27px 0 14px;
}


.news-article p{
	margin-bottom: 46px;
	font-size: 16px;
	color: #999999;
	line-height: 24px;
}

.news-block{
	width: 398px;
	max-width: 100%;
}

.news-blog{
	border: 1px solid #e5e5e5;
	background-color: #fff;
	height: 406px;
	padding-top: 9px;
	padding-bottom: 32px;
	text-align: center;
}

.news-blog img
{
	margin: 0 auto;
}

.news-blog:hover{
	box-shadow: 20px 20px #e5e5e5;
}

/*installation-section*/
.installation-section{
	text-align: center;
	padding: 96px 0;
}

.installation-section p, .news-section-2 .news-blog1 p{
	font-size: 18px;
	line-height: 26px;
	color: #999999;
	margin-bottom: 30px;
}

/*news section 2*/
.news-section-2{
	width: 886px;
	max-width: 100%;
	padding: 74px 0 16px;
	text-align: left;
}

.news-section-2 .news-blog1{
	width: 418px;
	max-width: 100%;
}

.news-section-2 .news-blog1 h2{
	margin: 21px 0 32px;
}

.news-section-2 .news-blog1 p>span{
	color: #33363e;
}

/*scroll top*/
.gotop{
	height: 48px;
	width: 58px;
	padding-top: 4px;
	background-color: #ea7141;
	text-align: center;
	position: fixed;
	bottom: 1%;
	right: 5%;
	z-index: 2;
	/*display: none;*/
}

.gotop:hover{
	opacity: 0.7;
}

.gotop span{
	color: #fff;
	font-size: 20px;
	margin-top: 11px;
	display: block;
}


/*footer*/
footer.footer-section{
	border-top: 1px solid #33363e;
	padding: 29px 0 ;
}

.footer-menu nav li:first-child{
	border-left: 0;
}

.footer-menu nav li{
	list-style-type: none;
	display: inline;
	border-left: 1px solid;
}

.footer-menu nav li a{
	color: #33363e;
	padding: 0 5px;
	
	font-size: 12px;
	line-height: 20px;
}

.footer-menu nav li a:hover{
	color: #ea7141;
}

.footer-menu
{
	padding-bottom: 24px;
	width: 520px;
	max-width: 100%;
	margin: 0 auto;
}

.footer-menu nav li:first-child a{
	padding-left: 0;
}

.footer-menu nav li:last-child a{
	padding-right: 0;
}

footer.footer-section p{
	color: rgba(51, 54, 62, 0.8);
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}

/*responsiveness*/
@media screen and (max-width: 1280px){
	.orange-btn {
	    width: 276px;
	    height: 62px;
	    font-size: 26px;
	    text-align: center;
	    padding: 6px 47px;
	}
}

@media screen and (max-width: 1180px){
	header .header-nav .navbar a {
    	text-align: center;
	}
	header .header-nav {
	    padding-top: 50px;
	}
}

@media screen and (max-width: 1048px){
	.news-article, .news-block{
		width: 50%;
	}
}

@media screen and (max-width: 840px){
	header.banner h1{
		font-size: 36px;
	}
}

@media screen and (max-width: 767px){
	.navbar-inverse {
	    background-color: transparent;
	    border-color: transparent;
    }
	.chrome-web-store-badge-mbl{
		margin: 0 auto;
	}
	.h-div-right{
		text-align: center;
		margin-top: 30px;
	}
	header.banner h1 {
	    margin-bottom: 36px;
	    font-size: 30px;
    	padding: 0 15px;
	}
	.orange-btn {
	    width: 187px;
	    height: 62px;
	    font-size: 20px;
	    padding: 6px 26px;
	}
	.orange-btn .btn-arrow {
	    width: 21px;
	    height: 18px;
	    margin-left: 5px;
	    margin-top: -9px;
	}
	header.banner{
	   height: 550px;
	}
	header .header-content{
		padding-top: 60px;
	}

	.news-article, .news-block, .news-section-2 .news-blog1{
		width: 100%;
	}

	.news-block, .news-section-2{
		text-align: center;
	}

	.news-section-2 .news-blog2, .news-block{
		margin-top: 40px;
	}

	.news-section{
	    background-color: #f6f6f6;
	    padding: 50px 0;
	}
	.news-blog{
    	height: 100%;
    	display: inline-block;
	}
	.news-section-2 .news-blog1 .news-img1{
		margin: 0 auto;
	}
	.news-section-2 .news-blog1 h2 {
    	margin: 20px 0;
 	}
}


@media screen and (max-width: 540px){
	header .header-content {
    	padding-top: 75px;
	}
}

@media screen and (max-width: 500px) {
  	.navbar a {
	    float: none;
	    display: block;
  	}
  	header .header-content {
    	padding-top: 40px;
	}
}

@media screen and (max-width: 480px){
	header.banner h1 {
	    font-size: 25px;
	    line-height: 35px;
	}
	.main-logo{
		margin-top: 30px;
	}
	.gotop {
	    height: 40px;
	    width: 40px;
	    padding-top: 0;
	}
}

@media screen and (max-width: 400px){
	header.banner {
    height: 530px;
	}	
}
